*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #ffffff;
}

#main{

    width: 100vw;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;

}

.left-side , .right-side{
    width: 50vw;
    /* border: 1px solid red; */
}

h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .1rem;
}

label{
    font-size: 1.4rem;
}
input{
    padding: .8rem .4rem;
    font-size: 1.2rem;
}

button{
    padding: 1rem 2rem;
}

.right-side img{
    max-width: 100px;
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
}

td{
    padding: 1rem;
}

.card{
    margin-top: 4rem;
}

#download-card{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

label[for="photo"]{
    background-color: rgb(179, 37, 37);
    padding: .4rem;
    margin-bottom: 1rem;
}

input[type="file"]{
    display: none;
}