* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(2, 10, 32);
    color: white;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 52px;
    margin: 20px 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #5c5858; */
    /* height: auto; */
    /* width: full; */
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

#inputs {
    display: flex;
    gap: 12px;
    align-items: center;
}

#inputs button {
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    background-color: lightseagreen;
    font-size: 16px;
    font-weight: 700;
}

button:active {
    transform: scale(.93);
}

table {
    border-radius: 8px;
    border: 1px solid rgb(179, 179, 179);
}

td {
    padding: 10px 20px;
}

#contactName {
    width: 30vw;
}

#contactNumber {
    width: 20vw;
    text-align: center;
}

td button {
    padding: 6px 4px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contactList {
    background-color: #5c5858;
}